PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://neondb_owner:npg_aMB5bVuD8msG@ep-little-resonance-ayxntvbg-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require


CLERK_PUBLISHABLE_KEY=pk_test_Z2l2aW5nLWVsZXBoYW50LTIxLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_FeAldcVBeTna7KWoJ2QSqLtFBKl0WYnjWfsSvQwwpm



SENTRY_DSN=https://4992b20e2f17d498ddc2ef6291eb7ef3@o4511833907593216.ingest.de.sentry.io/4511833918472272

STREAM_API_KEY=pn4chr8d2vgb
STREAM_API_SECRET=g73unwt4qxvyk43w57rxdx4gm66xxdarsv6wfnqn8dgrttyfqtacw69vbhmpbdwe




IMAGEKIT_PUBLIC_KEY=public_OULRJNt1WZYADx0C2m/jdWw2+ic=
IMAGEKIT_PRIVATE_KEY=private_HIpORlDP/029j1wO6F59T7v+Piw=  
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/aoktahfdpt
